@import url(header.css);

body{
    background-color: var(--verdeescuro);   

    h1{
        font-size: 4rem;
        color: var(--blue);
        width: 18.5rem;
        margin-block: 2rem;
        margin-inline: auto;
    }
}


div{
        background-color: var(--blue);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        border-radius: 1.2rem;

        width: 50rem;

        padding-block: 2rem;
        padding-inline: 2rem;

        margin-bottom: 4.5rem;
        margin-inline: auto;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

        h2{
            margin-bottom: 0.5rem;
            color: var(--paleturquoise);
            font-size: 2rem;
        }

        h3{
            margin-right: 1rem;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            color: var(--lightcyan);
            font-size: 1.5rem;
        }

        h4{
            margin-block: 0.5rem;
            font-size: 1rem;
            margin-left: 0.5rem;
        }

        ul, ol{
            padding-left: 2rem;
        }

        p {
            margin-top: 0.6rem;
        }
    }

    div:hover{
        transition: ease-in-out 0.5s;
        background-color: rgba(0, 136, 169, 0.8);
    }

    .highlight {
            background-color: #e6f3ff;
            padding: 10px;
            border-left: 4px solid #0056b3;
            margin-bottom: 15px;
        }